:root {
    --white: #ffffff;
    --black: #292929;
    --dark-black: #191919;
    --green: #309862;
    --grey: #777777;
    --red: #e35252;
    --orange: #f8c555;
    --blue: #4752c4;
    --light-blue: #3085bf;
    --brown: #705c40;
    --pink: #8f5da3;
    --light-pink: #FFE6E6;
}

:root .light {
    --white: #191919;
    --black: #ffffff;
    --dark-black: #ffffff;
    --green: #309862;
    --grey: #777777;
    --red: #e35252;
    --orange: #f8c555;
    --blue: #4752c4;
    --light-blue: #3085bf;
    --brown: #705c40;
    --pink: #8f5da3;
    --light-pink: #FFE6E6;
}

.light .bandeau .left .image {
    filter: invert(1);
}

* {
    font-family: Söhne,-apple-system,BlinkMacSystemFont,Helvetica,sans-serif;
    font-size: 0.99em;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 297mm;
    width: 210mm;
    margin-left: auto;
    margin-right: auto
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    justify-content: space-around;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.header {
    position: relative;
    display: flex;
    margin: 0 10px;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--dark-black);
    color: var(--white);
    border: 2px solid var(--green);
}

.header .left {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.header .left .nom {
    font-size: 2.5em;
}

.header .left .text {
    margin-top: 10px;
    font-size: 1em;
}

.header img {
    position: absolute;
    right: 10px;
    top: 10px;
    height: calc(100% - 20px);
    border-radius: 50%;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 10px;
    padding: 10px;
    background-color: var(--dark-black);
    border-radius: 10px;
    color: #FFFFFFFF;
    border: 2px solid var(--green);
    gap: 20px;
    font-size: 1.15em;
}

.contact > div, .contact > a {
    background-color: var(--red);
    padding: 2px 10px;
    border-radius: 5px;
    color: white;
}

.bandeau {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    padding: 10px;
    background-color: var(--dark-black);
    border-radius: 10px;
    color: var(--white);
    border: 2px solid var(--green);
    gap: 20px;
}

.bandeau .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bandeau .image {
    height: 60px;
    border-radius: 50%;
}

.bandeau .left, .bandeau .right {
    display: flex;
}

.bandeau .text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
    font-weight: bold;
}

.bandeau .text a {
    background-color: var(--white);
    border-radius: 5px;
    padding: 2px 10px;
    color: var(--dark-black);
    font-weight: normal;
    font-size: 1.2em;
}

.test {
    display: grid;
    grid-template:
        "formation techno" auto
        "experience techno" auto / 3fr 1fr;
    margin: 0 10px;
    row-gap: 20px;
    column-gap: 10px;
}

.formation {
    grid-area: formation;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 25px 10px 10px;
    background-color: var(--dark-black);
    border-radius: 10px;
    color: var(--white);
    border: 2px solid var(--green);
    gap: 15px;
}

.formation .element {
    display: grid;
    grid-template:
        "date label" auto
        ". text" auto / 100px 1fr;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
}

.formation .element .date {
    grid-area: date;
    background-color: var(--orange);
    padding: 2px 0;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: #191919FF;
}

.formation .element .label {
    grid-area: label;
    font-weight: bold;
}

.formation .element .text {
    grid-area: text;
}

.experience {
    grid-area: experience;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 25px 10px 10px;
    background-color: var(--dark-black);
    border-radius: 10px;
    color: var(--white);
    border: 2px solid var(--green);
    gap: 15px;
    flex: 3;
}

.techno-container {
    grid-area: techno;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 25px 10px 10px;
    background-color: var(--dark-black);
    border-radius: 10px;
    color: var(--white);
    border: 2px solid var(--green);
    gap: 15px;
    flex: 1;
}

.techno-container .list-techno {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.techno-container .list-techno .item {
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 1em;
    color: #FFFFFFFF;
}

.techno-container .list-techno .break {
    width: 100%;
}

.techno-container .list-techno .item.light-blue {
    background-color: var(--light-blue);
}

.techno-container .list-techno .item.brown {
    background-color: var(--brown);
}

.techno-container .list-techno .item.red {
    background-color: var(--red);
}

.techno-container .list-techno .item.blue {
    background-color: var(--blue);
}

.techno-container .list-techno .item.grey {
    background-color: var(--grey);
}

.techno-container .list-techno .item.pink {
    background-color: var(--pink);
}

.experience .element {
    display: grid;
    grid-template:
        "date label type" auto
        ". text text" auto / 100px auto 1fr;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
}

.experience .element .date {
    grid-area: date;
    background-color: var(--orange);
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: #191919FF;
}

.experience .element .label {
    grid-area: label;
    font-weight: bold;
    background-color: var(--green);
    padding: 2px 5px;
    border-radius: 5px;
    color: #FFFFFFFF;
}

.experience .element .type {
    grid-area: type;
    background-color: var(--red);
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    color: #FFFFFFFF;
}

.experience .element .text {
    grid-area: text;
}

.projets {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding: 25px 10px 10px;
    background-color: var(--dark-black);
    border-radius: 10px;
    color: var(--white);
    border: 2px solid var(--green);
    gap: 15px;
}

.projets .element {
    display: grid;
    grid-template:
        "date label techno" auto
        ". link link" auto
        ". text text" auto / 100px auto 1fr;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
}

.projets .element .date {
    grid-area: date;
    background-color: var(--orange);
    padding: 2px 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: #191919FF;
}

.projets .element .label {
    grid-area: label;
    font-weight: bold;
    background-color: var(--green);
    padding: 2px 5px;
    border-radius: 5px;
    color: #FFFFFFFF;
}

.projets .element .techno {
    grid-area: techno;
    display: flex;
    gap: 5px;
}

.projets .element .techno .item {
    background-color: var(--red);
    padding: 2px 5px;
    border-radius: 5px;
    color: #FFFFFFFF;
}

.projets .element .text {
    grid-area: text;
}

.projets .element .link {
    grid-area: link;
    background-color: var(--white);
    color: var(--dark-black);
    padding: 2px 5px;
    border-radius: 5px;
    width: fit-content;
}

.title {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.3em;
    background-color: var(--green);
    padding: 0 10px;
    color: #FFFFFFFF;
    border-radius: 5px;
}
