:root {
    --white: #ffffff;
    --black: #292929;
    --dark-black: #191919;
    --green: #309862;
    --grey: #777777;
    --red: #e35252;
    --orange: #f8c555;
    --blue: #4752c4;
    --light-blue: #3085bf;
    --brown: #705c40;
    --pink: #8f5da3;
    --light-pink: #FFE6E6;
}

:root .light {
    --white: #191919;
    --black: #ffffff;
    --dark-black: #ffffff;
    --green: #309862;
    --grey: #777777;
    --red: #e35252;
    --orange: #f8c555;
    --blue: #4752c4;
    --light-blue: #3085bf;
    --brown: #705c40;
    --pink: #8f5da3;
    --light-pink: #FFE6E6;
}

.light .bandeau .left .image {
    filter: invert(1);
}

* {
    font-family: Söhne,-apple-system,BlinkMacSystemFont,Helvetica,sans-serif;
    font-size: 0.99em;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 297mm;
    width: 210mm;
    margin-left: auto;
    margin-right: auto
}
